.form{
    background: url(../img/form/form-bg.png); 
    background-size: cover;
    .form__wrap{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form__title{
            color: #f9b43b;
            font-family: 'Gagalin';
            font-size: rem(72px);
            font-weight: 400;
            margin-bottom: rem(44px);
            @include tablets() {
                text-align: center;
            }
        } 
    }
}
.main-form{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
         @include tablets() {
                width: 70%;
         }
         @include phones() {
                width: 100%;
         }

}
.form__block{
    height: rem(260px);
}
.block-left{
    width: 43.8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: rem(20px);
    @include tablets() {
    width: 100%;
    margin-right: 0;
    }
}
.block__el-left{
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    display: flex;
    flex-direction: column;
    font-size: rem(13px);
    input{
         margin-top: rem(7px);
        border:none;
        }
    &:nth-child(1){
        width: 48%;
            input{
                height: rem(31px);
                border-radius: rem(5px);
            }
    }
    &:nth-child(2){
        width: 48%;
            input{
                height: rem(31px);
                border-radius: rem(5px);
            }
    }
     &:nth-child(3){
        width: 100%;
            input{
                 height: rem(31px);
                border-radius: rem(5px);
                }
        }
    &:nth-child(4){
        width: 23%;
            input{
                height: rem(31px);
                border-radius: rem(5px);
                }
        }
    &:nth-child(5){
        width: 23%;
            input{
                 height: rem(31px);
                border-radius: rem(5px);
                }
    }
    &:nth-child(6){
        width: 23%;
            input{
                height: rem(31px);
                border-radius: rem(5px);
      }
              }
    &:nth-child(7){
         width: 23%;
             input{
                 height: rem(31px);
                 border-radius: rem(5px);
        }
    }
}
.block-right{
    width: 43.8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include tablets() {
        width: 100%;
    }
    @include tablets() {
        display: flex;
        justify-content: center;
    }
}
.block__el-right{
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    display: flex;
    input{
        border:none;
        margin-top: rem(7px);
    }
    &:nth-child(1){
        width: 100%;
        flex-direction: column;
        margin-bottom: rem(20px);
        input{
            height: rem(109px);
            border-radius: rem(5px);
        }
    }
    &:nth-child(2){
        width: 50%;
        max-width: rem(155px);
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-right: rem(22px);
        margin-bottom: rem(29px);
        label{
            display: flex;
            input+span{
                -webkit-appearance:none;
                width:rem(14px);
                height:rem(14px);
                border:rem(1px) solid rgba(0,0,0,.3);
                outline:none;
                margin-right:rem(10px);
                box-sizing:border-box;
                display:inline-block;
                border-radius:100%;
                }

              input:checked+span:before {
                content:"";
                display:block;
                background:#e45028;
                border-radius:100%;
                width: rem(6px);
                height: rem(6px);
                margin: rem(3px);
                pointer-events:none;
                }
                span{
                    background-color: #f7f7f7;
                }
        }
    }
    &:nth-child(3){
        width: 50%;
        max-width: rem(140px);
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(29px);
        label{
            display: flex;
            input+span{
                -webkit-appearance:none;
                width:rem(14px);
                height:rem(14px);
                border:rem(1px) solid rgba(0,0,0,.3);
                outline:none;
                margin-right:rem(10px);
                box-sizing:border-box;
                display:inline-block;
                border-radius:100%;
                }

              input:checked+span:before {
                content:"";
                display:block;
                background:#e45028;
                border-radius:100%;
                width: rem(6.5px);
                height: rem(6.5px);
                margin: rem(2.5px);
                pointer-events:none;
                }
                span{
                    background-color: #f7f7f7;
                }
        }
    }
    &:nth-child(4){
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: rem(20px);
        @include tablets(){
            justify-content: center;
        }
        label{
            display: flex;
            input+span{
                -webkit-appearance:none;
                width:rem(14px);
                height:rem(14px);
                border:rem(1px) solid rgba(0,0,0,.3);
                outline:none;
                margin-right:rem(10px);
                box-sizing:border-box;
                display:inline-block;
                }

              input:checked+span:before {
                content:"";
                display:block;
                width: rem(4px);
                height: rem(8px);
                border:0 solid #e45028;
                border-width:0 rem(2.5px) rem(2.5px) 0;
                -webkit-transform:rotateZ(45deg);
                margin:rem(-1px) rem(3px);
                pointer-events:none;
                }
                span{
                    background-color: #f7f7f7;
                }
        }
    }
    &:nth-child(5){
        input{
            @include button();
            margin: 0;
        }
    }
    &:nth-child(6){
        input{
            @include button();
            background-color: transparent;
            text-transform: capitalize;
            margin: 0;
            &:hover{
                background-color: transparent;
            }
        }
    }
}