.header{
	width: 100%;
	padding-top: rem(13px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__logo{
		margin-right: rem(20px);
        z-index: 999;
	}
}
.navigation{
	max-width: 800px;
	margin-right: rem(10px);
	@include tablets(){
		display: none;
	}
	.navigation__list{
		padding: 0;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
}
.navigation__button{
	@include button();
	font-size: 13px;
}
.navigation__el{
	list-style: none;
	&:first-child a:before{
		display: none; 
	}
	a{
	display: flex;
	align-items: center;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: rem(0.4px);
	list-style: none;
	text-decoration: none;
        @include tablets(){
            flex-direction: column;
            font-family: 'Ubuntu';
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
        }
	&:before{
		&:first-child{
			display: none;
		}
		content: '';
		height: rem(5px);
		width: rem(5px);
		border-radius: 50%;
		background-color: #fff;
		display: inline-block;
		vertical-align: middle;
		margin-right: rem(6px);
		margin-left: rem(6px);
		
		}
	}
}
.main{
	min-height: rem(650px); 
	background:url(../img/main/bg.png) center center no-repeat;
	background-size: cover;
	height: 100vh;
	margin: 0 auto;
	.main__wrap{
		display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
		.greeting{
			display: flex;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
            flex-wrap: wrap;
            @include notes(){
				flex-direction: column;
                align-items: center;
                text-align: center;
                margin: 0;
			}
            
			@include tablets(){
				flex-direction: column;
                align-items: center;
                text-align: center;
			}
			.greeting__img{
				margin-right: rem(12px);
				img{
					width: 100%;
                    @include tablets(){
                        width: 80%;
                    }
				}		
			}
			.greeting__text{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
                flex-direction: column;
				@include tablets(){
					padding: 0;
					text-align: center;
				}
				&-title{
						color: #f9b43b;
						margin-bottom: rem(20px);
                        @include tablets(){
					        font-size: rem(62px);
				        }
				}
				&-subtitle{
						color: #ffffff;
						font-family: 'Lifehack',;
						font-size: rem(65px);
						font-weight: 500;
						letter-spacing: rem(-1.63px);
						line-height: rem(60px);
                        @include tablets(){
					        font-size: rem(50px);
				        }
				}
			}
		}
		.main__arrow{
		}
	}
}
.nav {
	.burger-nav {
    opacity: 0;
    transition: all 1.5s;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3;
    z-index: 99;
    margin: 0;
    left: 0;
    padding: 0;
    width: 100%;
    top: 20%;
        @include tablets(){
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
	}
}
.nav-tgl {
  display: none;
	justify-content: center;
    position: relative;
  z-index: 100;
  width: 70px;
  height: 70px;
  border: none;
  padding: 0;
  background: transparent;
  line-height: 0.6;
  text-align: center;
    @include tablets() {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
	> span {
		display: inline-block;
		position: relative;
		height: 4px;
		width: 30px;
		background: #fff;
		vertical-align: middle;
		&:before, &:after {
		  display: inline-block;
			position: absolute;
			content: "";
			height: 2px;
			border-radius: 1px;
			background: #fff;
		}
		&:before {
		  top: -11px;
			left: 0;
			width: 30px;
			height: 4px;
		}
		&:after {
		  top: 11px;
			left: 0;
			width: 30px;
			height: 4px;
		}
	}
	
	
	&.toggled > span {
		height: 0;
		&:after, &:before {
		  top: 0px;
			left: 0;
			width: 34px;
		}
		&:after {
		  transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}
}
.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
	z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: #2f3234;
    opacity: 0.99;
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}
.active.nav:before {
	visibility: visible;
	clip-path: circle(100%);
}
.header__btn{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.burger-menu__active{
    opacity: 1;
}
