.menu {
  background: url('../img/menu/menu-bg.png') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.title__menu {
  color: #ffffff; 
  font-weight: 400;
  margin: 0;
}

.section__title-menu {
  position: absolute;
  top: 11%;
  left: 7%;
}

.menu-accordeon__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.menu-accordeon__close{
  display: none;
}
.menu-accordeon__item {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  @include phones () {
      display: flex;
  }
  &-active {
    @include phones () {
      position: absolute;
      z-index: 9;
      left: 0;
    }
      .menu-accordeon__text {
          display: block;
      }
      width: 50%;
      @include tablets () {
          width: 60%;
      }
      @include phones () {
        width: 100%;
      }
      .menu-accordeon__trigger-text {
          color: $yellow;
      }
      .menu-accordeon__content {
          width: 100%;
          position: relative;
          @include phones () {
              .menu-accordeon__close {
                display: block;
                position: absolute;
                right: 3rem;
                top: 0rem;
                width: 1.33333rem;
                height: 1.33333rem;
                z-index: 5;
                font-size: 35px;
                opacity: 0.4;
                color: #f4f4f4;
                opacity: .2;
              }
          }
      }
  }
}

.menu-accordeon__trigger {
  width: rem(80px);
  display: block;
  height: 100%;
  text-decoration: none;
  position: relative;
  background: center center / cover no-repeat;
  background-color: rgba(20, 20, 20, 0.7);
}

.menu-accordeon__trigger-text {
  color: #fff;
  font-family: 'Gagalin';
  font-size: rem(40px);
  font-weight: 400;
  line-height: 1.57;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 100%;
  white-space: nowrap;
  transform: rotate(-90deg) translatey(-50%);
  transform-origin: 0 0;
  margin-top: rem(-40px);
}

.menu-accordeon__content {
  height: 100%;
  background-color: #2f3234;
  opacity: 0.93;
  width: 0;
  overflow: hidden;
  transition: width .6s;
}

.menu-accordeon__text {
  color: #fff;
  font-family: 'Ubuntu';
  font-size: rem(14px);
  font-weight: 300;
  line-height: 1.7;
  padding: rem(60px) rem(30px);
  display: none;
}