.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    background: url(../img/menu/menu-bg.png) center center no-repeat;
    background-size: cover;
}
.menu-acco{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: 2;
}
.menu__title{
    color: #ffffff;
    z-index: 0;
    font-weight: 400;
    position: absolute;
    top:10%;
    left: 10%;
}
.acco-item{
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.item__trigger{
    width: 80px;
    display: block;
    height: 100%;
    text-decoration: none;
    position: relative;
    font-family: 'Gagalin';
    font-size: 2.66667rem;
    font-weight: 400;
    &:nth-child(1){
        background: url(../img/menu/menu-sec.png) center center no-repeat;
        background-size: cover;
    }
    &:nth-child(2){
        background: url(../img/menu/menu-first.png) center center no-repeat;
        background-size: cover; 
    }
    &:nth-child(3){
        background: url(../img/menu/menu-thrid.png) center center no-repeat;
        background-size: cover; 
    }
    &:after{
    content: '';
    width: 80px;
    display: block;
    height: 100%;
    background: rgba(#2f3234, .7);
    }
}
.item__text{
        font-size: 40px;
        color: #ffffff;
        text-align: center;
        position: absolute;
        left: 50%;
        top:95%;
        white-space:nowrap;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: 0 0;
    }
.acco-content{
    height: 100%;
    width: 0;
    overflow: hidden;
    background: rgba(#2f3234, .9);
        .acco-content__text{
        color: #ffffff;
        font-family: 'Ubuntu';
        font-size: 0.93333rem;
        font-weight: 300;
        line-height: 1.6rem;
        padding: 60px 30px;
        display: block;
    }
}
.active{
    max-width: 460px; 
    width: 100%;
}