.fixed-menu {
	position: fixed;
	top: 12%;
	right: 3%;
	z-index: 100; 
	@include tablets {
			display: none;
		}
}

  
.fixed-menu__item {
	display: block;
	margin-bottom: .31rem;
	padding: .31rem;
	height: 4px;
	width: 4px;
	position: relative;
	border: 1px solid transparent;
	border-radius: 50%; 
	&:hover {
	  border-color: #fff;
		cursor: pointer; 
	}
	&:after {
	  content: "";
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  width: .38rem;
	  height: .38rem;
	  border-radius: 50%;
		background: #fff; 
	}
}

	.fixed-menu__item_active {
		border-color: #fff; 
	}
	.burger{
		position: fixed;
    top: 1.5%;
    right: 5%;
	}
