@font-face{

	font-family: 'Lifehack';

	src: url('../fonts/lifehack/Lifehack Medium.otf');

	font-weight: normal;

	font-style: normal;

}
@font-face{

	font-family: 'Gagalin';

	src: url('../fonts/gagalin/Gagalin-Regular.otf');

	font-weight: normal;

	font-style: normal;

}
@mixin container{
	width: 1104px;
	margin: 0 auto;
}
@mixin button(){
	margin-left: 30px;
	text-decoration: none;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 11px 15px 11px 16px;
	background-color: #e45028;
	border-radius: 5px;
	transition: all .6s;
	&:hover{
		cursor: pointer;
		background-color: #c1401e;
	}
}
body{
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
ul, ol, li, a, button{
	text-decoration: none;
	list-style: none;
	outline: none;
}
.container{
	width: 940px;
	margin: 0 auto;}
.wrapper{
	overflow: hidden;
}