
html{
	@include tablets() {
		font-size: 14px;
	}

	@include phones() {
		font-size: 12px;
	}
	height: 100%;
	font-size: 16px; 
}
@font-face{

	font-family: 'Lifehack';

	src: url('../fonts/lifehack/Lifehack-Medium.woff');

	src: url('../fonts/lifehack/Lifehack-Medium.woff2');

	font-weight: normal;

	font-style: normal;

}
@font-face{

	font-family: 'Gagalin';

	src: url('../fonts/gagalin/Gagalin-Regular.woff');

	src: url('../fonts/gagalin/Gagalin-Regular.woff2');

	font-weight: normal;

	font-style: normal;

}
@mixin button(){
	border: none;
	text-decoration: none;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: rem(13px);
	font-weight: 500;
	text-transform: uppercase;
	padding: rem(11px) rem(15px) rem(11px) rem(16px);
	background-color: #e45028;
	border-radius: rem(5px);
	transition: all .6s;
	&:hover{
		cursor: pointer;
		background-color: #c1401e;
	}
}
body{
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
ul, ol, li, a, button{
	text-decoration: none;
	list-style: none;
	outline: none;
}
.container{
    width: 90%;
	max-width: 940px; 
	margin: 0 auto;}
.wrapper{
	overflow: hidden;
}
.section{
	min-height: rem(650px);
	height: 100vh;
	@include tablets(){
		min-height: rem(1024px);
	}
}
.title{
    font-family: 'Gagalin';
    font-size: rem(72px);
    font-weight: 400;
}