.team {
    background: url('../img/team/team-bg.png') center center no-repeat;
    background-size: cover;
    position: relative;
  
    &__content {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40%;
      background: rgba(#2f3234, .93);
      padding: 5% 4% 0 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      @include tablets {
          padding: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  .team__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        color: #f9b43b;
    }
  }
  
  .team-acco {
    color: #fff;
    font-size: .88rem;
  
    .item-name {
      font-family: 'Gagalin';
      font-size: 24px;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  
    .item-name:before {
      content: "";
      display: inline-block;
      border: .5rem solid transparent;
      width: 0;
      height: 0;
      border-top-color: #f7b33b;
      border-bottom-width: 0px;
      border-left-width: .31rem;
      border-right-width: .31rem;
      margin-right: .63rem;
      transition: transform .3s;
    }
  
    .team-item__content {
      font-family: 'Ubuntu', sans-serif;
      display: flex;
      margin-bottom: 1rem;
      height: 0;
      overflow: hidden;
      transition: height .3s;
  
      @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  
    .team-item__text {
      width: 15rem;
  
      h3 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
  
      p {
        font-weight: 300;
        line-height: 1.7;
      }
  
      @include tablets {
        width: 20.75rem;
      }
    }
    
    .team-item__image {
      margin-right: 1.25rem;
  
      @include tablets {
        margin-right: 0;
      }
  
      @include phones {
        margin-right: 0;
      }
    }
    
    .team-item__img {
      width: 100px;
      height: 100px;
      background: center center no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
  
    @include tablets {
      text-align: center;
    }
  }
  
  .acco-active {

  
    .item-name:before {
      content: "";
      display: inline-block;
      margin-right: .63rem;
      transform: rotate(180deg);
      transition: .3s;
    }
  
    .team-item__content {
      height: 8.4rem;
  
      @include tablets {
        height: 14.5rem;
      }
    }
  
    .accordeon__img {
      @include tablets {
        margin-bottom: 1.55rem;
      }
    }
  
    .accordeon__text {
      @include tablets {
        width: 21rem;
      }
    }
  }
  
  
  
  